<!DOCTYPE html>
<html lang="en">
	<!-- Header -->
	<%- include('partials/header') %>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $('#dropDown').load(function(){

                $(this).find("option").each(function()
                {
                    if (this.value != 'NONE')
                    {
                        $('#' + this.value).css("display", "none");
                    }
                });
                $('#' + this.value).css("display", "block");

            });
        </script>
    </head>
    <body id="page-top">
        <!-- Navigation-->
		<%- include('partials/nav') %>

        <!-- Header-->
        <header class="bg-primary-nfl bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">ADP</h1>
                <p class="lead">Visualization of Fantasy Football Stats</p>
            </div>
        </header>

        <!-- About section-->
        <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-xxl-12">
                        <h2>Average Draft Position vs. Actual Performance</h2>
                        <p class="lead">2021 Positional Performance Differential</p>

                        <div class = "container">
                            <h4><span class = "badge bg-info">Years Available</span></h4>
                            <span class = "badge bg-primary">Running Back - RB</span>
                            <span class = "badge bg-secondary">Wide Receiver - WR</span>
                            <span class = "badge bg-success">Tight End - TE</span>
                            <span class = "badge bg-warning">Quarterback - QB</span>
                        </div>
                        <hr>
                        <select class="form-select" data-style="btn-success" id="dropDown" >
                            <option value="NONE">Choose...</option>
                            <option value="div1">RB</option>
                            <option value="div2">WR</option>
                            <option value="div3">TE</option>
                            <option value="div4">QB</option>
                        </select>


                        <script>

                            $('.drop-down-show-hide').css("display", "none");
                            $('#graphWrap').css("display", "none");

                            $('#dropDown').change(function(){
                                $('#graphWrap').css("display", "inherit");
                                $(this).find("option").each(function()
                                {
                                    if (this.value != '')
                                    {
                                        $('#' + this.value).css("display", "none");
                                    }
                                });
                                $('#' + this.value).css("display", "block");

                            });
                        </script>

                        <script>
                            $(document).ready(function(){

                                $("select").change(function(){
                                    $(this).find("option:selected").each(function(){
                                        var optionValue = $(this).attr("value");
                                        if(optionValue){
                                            $(".box").not("." + optionValue).hide();
                                            $("." + optionValue).show();
                                        } else{
                                            $(".box").hide();
                                        }
                                    });
                                }).change();
                            });
                        </script>
                        <div id="graphWrap" >
                            <div  id="div1" class="drop-down-show-hide">
                                <%- include('partials/2021_RB_ADP') %>
                            </div>
                            <div  id="div2" class="drop-down-show-hide">
                                <%- include('partials/2021_WR_ADP') %>
                            </div>
                            <div  id="div3" class="drop-down-show-hide">
                                <%- include('partials/2021_TE_ADP') %>
                            </div>
                            <div  id="div4" class="drop-down-show-hide">
                                <%- include('partials/2021_QB_ADP') %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

            
        <!-- Services section-->
        <section class="bg-light" id="services">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>About this project:</h2>
                        <p class="lead">This project was made for Dr. Shipman's class at Texas A&M University about Data Visualization.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contact section-->
        
        <!-- Footer -->
        <%- include('partials/footer') %>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Core theme JS-->
        <script src="/scripts/scripts.js"></script>
    </body>
</html>